body {
  font-family: 'VT323', monospace;
  background-color: black;
  position: relative;
}

.backgrounds {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: auto;
  height: auto;
}

#title {
  font-family: 'VT323';
  font-size: 98px;
  color: white;
  font-weight: lighter;
  margin-top: 0;
  top: 0;
  left: 538px;
  position: absolute;
  animation: memories 1s alternate infinite
}
@keyframes memories {
  0% {color: #FFFF00}
  20% {color: #FF00FF}
  40% {color: #00FF00}
  60% {color: #099FFF}
  80% {color: #CC00FF}
  100% {color: #F9F9F9}
}


.white1 {
  position: absolute;
  transform: scale(.05);
  top: 422px;
  left: -268px;
}
.white1:hover {
  transform: scale(.052);
}

.white2 {
  position: absolute;
  transform: scale(.05);
  top: 422px;
  left: -85px;
}
.white2:hover {
  transform: scale(.052);
}

.white3 {
  position: absolute;
  transform: scale(.05);
  top: 422px;
  left: 33px;
}
.white3:hover {
  transform: scale(.052);
}

.white4 {
  position: absolute;
  transform: scale(.05);
  top: 422px;
  left: 161px;
}
.white4:hover {
  transform: scale(.052);
}

.redbutton {
  transform: scale(.05);
  position:absolute;
  top: 455px;
  left: -305px;
}
.redbutton:hover{
  transform: scale(.052);
}


.buttonrelative {
  position: relative;
  z-index: 4;
}

.switch {
  font-family: 'VT323', monospace;
  opacity: 0;
  color: white;
  position: absolute;
  z-index: 5;
}
#white1 {
  top: 835px;
  left: 541px;
}
#dk {
  width: 75px;
  position: absolute;
  top: 800px;
  left: 530px;
  opacity: 0;
}
#dk:hover {
  top: 780px;
  opacity: 1;
}

#white2 {
  top: 835px;
  left: 720px;
}
#home {
  width: 65px;
  position: absolute;
  top: 780px;
  left: 717px;
  opacity: 0;
}
#home:hover {
  top: 780px;
  opacity: 1;
}

#white3 {
  top: 835px;
  left: 840px;
}
#spinvadersgif {
  position: absolute;
  width: 55px;
  top: 800px;
  left: 835px;
  opacity: 0;
}
#spinvadersgif:hover {
  top: 780px;
  opacity: 1;
}

#white4 {
  top: 835px;
  left: 955px;
}
#stfightergif {
  position: absolute;
  width: 55px;
  top: 800px;
  left: 965px;
  opacity: 0;
}
#stfightergif:hover {
  top: 760px;
  opacity: 1;
}


#yellow {
  position: absolute;
  width: 80px;
  top: 861px;
  left: 557px;
  display: block;
}
#yellow:hover {
  transform: scale(1.05);
  cursor: pointer;
}


label {
  display: block;
  margin: 20px 0 0;
  color: black;
  position: absolute;
  top: 853px;
  left: 558px;
  opacity: 0;
}
label:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
input {
  position: absolute;
  left: -999em;
}
.hide {
  position: absolute;
  opacity: 0;
  max-height: 1000px;
  border: none;
  }
.hide p {
  position: absolute;
  padding: 10px 10px 10px 10px;
  margin: 0;
  color: black;
  font-size: 24px;
  width: 335px;
}
.ex1 input[type="checkbox"]:checked + div {
  display: block;
  width: 350px;
  background-color: #ffd700;
  opacity: 1;
  height: 360px;
  max-height: 1000px;
  overflow: hidden;
  transition: opacity 1.5s linear, max-height 1.5s linear;
}
