@media (max-width: 1080px) and (min-width: 200px) {

  body {
    font-family: 'VT323', monospace;
    background-color: black;
  }

  #container {
    max-width: 1080px;
    max-height: 1920px;
    position: relative;
  }

  #gameboy-start {
    position: fixed;
    transform: scale(0.5);
    margin-top: -400px;
    margin-left: -250px;
    margin-bottom: -400px;
    margin-right: -250px;
    z-index: -5;
    max-width: 1080px;
    min-width: 640px;
  }

  #title {
    font-family: 'VT323';
    font-size: 98px;
    color: white;
    font-weight: lighter;
    margin-top: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 5;
  }


  .switchgb {
  font-family: 'VT323', monospace;
  font-size: 18px;
  opacity: 0;
  color: white;
  position: absolute;
  z-index: 5;
  }
  #onoff {
    top: 70px;
    left: 75px;
  }


  p {
    position: absolute;
    font-size: 18px;
    color: white;
    top: 330px;
    left: 225px;
    z-index: 4;
  }

}
