@media (max-width: 1080px) and (min-width: 200px) {

  body {
    font-family: 'VT323', monospace;
    background-color: black;
  }

  #container {
    max-width: 1080px;
    max-height: 1920px;
    position: relative;
  }

  #gameboy-start {
    position: fixed;
    transform: scale(0.5);
    margin-top: -400px;
    margin-left: -250px;
    margin-bottom: -400px;
    margin-right: -250px;
    z-index: -5;
    max-width: 1080px;
    min-width: 640px;
  }

  #title {
    font-family: 'VT323';
    font-size: 98px;
    color: white;
    font-weight: lighter;
    margin-top: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 5;
    animation: memories 1s alternate infinite
  }
  @keyframes memories {
    0% {color: #FFFF00}
    20% {color: #FF00FF}
    40% {color: #00FF00}
    60% {color: #099FFF}
    80% {color: #CC00FF}
    100% {color: #F9F9F9}
  }


  h5 {
    font-family: "VT323",monospace;
    font-size: 20px;
    color: black;
    text-decoration: none;
    position: absolute;
  }

  .switchgb {
  font-family: 'VT323', monospace;
  font-size: 18px;
  opacity: 0;
  color: white;
  position: absolute;
  z-index: 5;
  }
  #onoff {
    top: 70px;
    left: 75px;
  }
  #start {
    position: absolute;
    top: 790px;
    left: 270px;
    transform: rotate(-27deg);
  }


  label {
    position: absolute;
    display: block;
    margin: 20px 0 0;
    color: white;
    position: absolute;
    top: 640px;
    left: 450px;
    opacity: 0;
    font-size: 36px;
    }
  label:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
    }
  input {
    position: absolute;
    left: -999em;
    }
  .hide {
    position: absolute;
    opacity: 0;
    max-height: 0;
    border: none;
    z-index: 4;
    top: 235px;
    left: 115px;
    }
  .hide p {
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: black;
    font-size: 20px;
    width: 325px;
    }
  .ex1 input[type="checkbox"]:checked + div {
    width: 350px;
    background-color: #e25822;
    opacity: 1;
    height: 252px;
    max-height: 1000px;
    overflow: hidden;
    transition: opacity 1.5s linear, max-height 1.5s linear;
    z-index: 4;
    }

}
