body {
  background: white;
  font-family: 'Roboto', sans-serif;
}

.suninmiddlecopy {
  width: 80%;
  filter: blur(1px);
  filter: brightness(.33);
  margin-left: 150px;
}

.guide {
  position: absolute;
  top: 10px;
  left: 200px;
  text-decoration: none;
}

.gd {
  font-family: "roboto";
  font-weight: 300;
  font-size: 30px;
  color: white;
  line-height: 0px;
  transition: transform .2s;
  text-decoration: none;
}

.gd:hover {
  color: blue;
  transform: scale(1.1);
}

.mcsn {
  font-family: "roboto";
  font-weight: 100;
  font-size: 24px;
  color: white;
  line-height: 0px;
}

.mycopiedstyledneighborhood {
  position: absolute;
  top: 340px;
  left: 300px;
}

.jt {
  font-family: "roboto";
  font-weight: 900;
  font-size: 72px;
  color: white;
  line-height: 0px;
}

.welcome {
  position: absolute;
  top: 400px;
  left: 300px;
}
