#container {

}
  /* I put "max-width" rather than "width" because
     if the screen width is less than 650px, it will shrink accordingly. */
}

#toc {
  right: 1em;
  left: 1em;
  padding: 1em;
  border-bottom: 3px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
  text-rendering: optimizeLegibility;
  text-align: center;
  background: white;
}

h1 {
  font-family: "roboto";
  font-size: 144px;
  font-style: bold;
  line-height: 36px;
  border: 32px;
  padding: 32px;
}

h2 {
  font-family: "roboto condensed";
  font-size: 108px;
  font-style: bold;
}

h3 {
  font-family: "roboto";
  font-size: 72px;
}

h4 {
  font-family: "roboto condensed";
  font-size: 18px;
  padding-left: 500px;
  padding-right: 500px;
  line-height: 24px;
}

img {
  width: 25%
}

.suninmiddle {
  width: 30%;
}

.izumiyamenu {
  width: 14%;
  transition: transform .2s; /* Animation */
}

.izumiyamenu:hover{
  transform: scale(3.0);
}

.peacepagodacloseup {
  width: 15%;
  transition: transform .2s;
}

.peacepagodacloseup:hover {
  transform: scale(2.0);
}

#toc a {
  color: black;
  text-decoration: none;
}
#toc a:hover {
  color: red;
}

#toppage a {
  color: black;
  text-decoration: none;
}
#toppage a:hover{
  color: red;
}

.dropcenter {
  position: relative;
  display: inline-table;
}

.dropcenter-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropcenter:hover .dropcenter-content {
  display: block;
}

.japancenter {
  color: black;
  text-decoration: none;
}

.japancenter:hover {
  color: red;
}

.dropdownpeacetown {
  position: relative;
  display: inline-table;
}
.dropdownpeacetown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdownpeacetown:hover .dropdownpeacetown-content {
  display: block;
}
.japanpeacetown {
  color: black;
  text-decoration: none;
}
.japanpeacetown:hover {
  color: red;
}
