body {
  background: white;
  font-family: 'Roboto', sans-serif;
  color: black;
}

h1 {
  font-family: "roboto";
  font-weight: 900;
  font-size: 144px;
  line-height: 0px;
}

h2 {
  font-family: "roboto", condensed;
  font-weight: 900;
  font-size: 72px;
}

h3 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 36px;
  padding: 0px 550px 0px 300px;
  text-decoration: underline;
  margin-bottom: 0px;
}

h4 {
  font-family: "roboto";
  font-weight: 100;
  font-size: 24px;
  color: #1B6453;
  padding: 0px 550px 10px 200px;
  letter-spacing: 1px;
  line-height: 35px;
}

h5 {
  font-family: "roboto";
  font-weight: 100;
  font-size: 16px;
  text-decoration: underline;
  color: #CFDBC5;
  letter-spacing: 1px;
  line-height: 5px;
}

h6 {
  font-family: "roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 8px;
}

p {
  font-family: "roboto";
  font-size: 20px;
  font-weight: 300;
  padding: 0px 550px 10px 300px;
  line-height: 30px;
}

.bodyphotos {
  width: 100%;
  padding-top: 10px;
}

.suninmiddlecopy {
  width: 80%;
  filter: blur(1px);
  filter: brightness(.33);
  padding-left: 150px;
}

.guide {
  position: absolute;
  top: 10px;
  left: 200px;
  text-decoration : none;
}

.gd {
  font-family: "roboto";
  font-weight: 300;
  font-size: 30px;
  color: white;
  line-height: 0px;
  transition: transform .2s;
  text-decoration: none;
}

.gd:hover {
  color: blue;
  transform: scale(1.1);
}

.mcsn {
  font-family: "roboto";
  font-weight: 100;
  font-size: 24px;
  color: white;
  line-height: 0px;
}

.mycopiedstyledneighborhood {
  position: absolute;
  top: 340px;
  left: 300px;
}

.jt {
  font-family: "roboto";
  font-weight: 900;
  font-size: 72px;
  color: white;
  line-height: 0px;
}

.welcome {
  position: absolute;
  top: 400px;
  left: 300px;
}

#toc {
  width: 300px;
  height: 300px;
  background-color: #1DA237;
  position: sticky;
  top: 50px;
  left: 1160px;
  padding: 1px 0px 10px 30px;
}

#jump {
  font-family: "roboto";
  font-weight: 100;
  font-size: 20px;
  text-decoration: underline;
  color: #CFDBC5;
  letter-spacing: 1px;
  line-height: 1px;
}
