* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ecdcc2;
  animation: bg 2s alternate infinite;
}
@keyframes bg {
  0% {background-color: #ecdcc2;}
  100% {background: #6f4e37;}
}

@media (min-width: 1600px) {
  #desktop {
    display: inline;
    transform: scale(1.5);
    width: 500px;
  }
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2 {
    display: none;
  }
}


@media (max-width: 1600px) and (min-width: 1450px) {
  #smalldesktop {
    display: inline;
  }
  #desktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2 {
    display: none;
  }
}

@media (max-width: 1450px) and (min-width: 1300px) {
  #tablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2 {
    display: none;
  }
}

@media (max-width: 1300px) and (min-width: 1150px) {
  #smalltablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2 {
    display: none;
  }
}

@media (max-width: 1150px) and (min-width: 1000px) {
  #mobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #smallmobile,
  #small1,
  #small2 {
    display: none;
  }
}

@media (max-width: 1000px) and (min-width: 850px) {
  #smallmobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #small1,
  #small2 {
    display: none;
  }
}

@media (max-width: 850px) and (min-width: 700px) {
  #small1 {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small2 {
    display: none;
  }
}

@media (max-width: 700px) {
  #small2 {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1 {
    display: none;
  }
}
