* {
  margin-left: -50px;
  margin-top: 50px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efdecd;
  animation: bg 2s alternate infinite;
}
@keyframes bg {
  0% {background-color: #efdecd;}
  100% {background: #d1b48d;}
}

@media (min-width: 1600px) {
  #desktop {
    display: inline-block;
  }
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}


@media (max-width: 1600px) and (min-width: 1550px) {
  #smalldesktop {
    display: inline;
  }
  #desktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1550px) and (min-width: 1500px) {
  #tablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1500px) and (min-width: 1450px) {
  #smalltablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1450px) and (min-width: 1400px) {
  #mobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1400px) and (min-width: 1350px) {
  #smallmobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1350px) and (min-width: 1300px) {
  #smalltablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1300px) and (min-width: 1250px) {
  #smalldesktop {
    display: inline;
  }
  #desktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1250px) and (min-width: 1200px) {
  #tablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 1150px) {
  #smalltablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1150px) and (min-width: 1000px) {
  #mobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 1000px) and (min-width: 950px) {
  #smallmobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 950px) and (min-width: 900px) {
  #smalltablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 900px) and (min-width: 850px) {
  #smalldesktop {
    display: inline;
  }
  #desktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 850px) and (min-width: 800px) {
  #tablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

@media (max-width: 800px) and (min-width: 750px) {
  #smalltablet {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #mobile,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

#alpaca8{
  display: none;
}

@media (max-width: 750px) and (min-width: 700px) {
  #mobile {
    display: inline;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #smallmobile,
  #small1,
  #small2,
  #hoverme {
    display: none;
  }
}

#alpaca7 {
  left: -50px;
}

#alpaca8{
  display: none;
  border-right: -200px;
}

@media (max-width: 700px) {
  #small1 {
    display: inline;
    position: absolute;
    left: -150px;
  }
  #desktop,
  #smalldesktop,
  #tablet,
  #smalltablet,
  #mobile,
  #smallmobile,
  #small2 {
    display: none;
  }
}
#small1:hover #alpaca7{
  display: none;
}

#small1:hover #alpaca8 {
  display: block;
  animation: wobble .01s alternate infinite;
}
@keyframes wobble {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

#alpaca7 {
  animation: bounce 1s alternate infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

#hoverme {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #6f4e37;
  position: absolute;
  top: 20px;
  left: 250px;
}

#text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #6f4e37;
  position: absolute;
  top: 0;
  left: 250px;
}
